<app-homeheader></app-homeheader>
<div class="container rounded bg-white mt-2 mb-1">
    <div class="row">
        <div class="col-md-3"> 
        </div>
        <div class="col-md-6 ">
            <div class="p-3 py-5">
                <h1></h1>
                
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h4 class="text-center">User Password Update</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Current Password</label><input type="text" class="form-control" [(ngModel)]="customer.oldPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter current password" value=""></div>    
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">New Password</label><input type="text" class="form-control" [(ngModel)]="customer.newPassword" [ngModelOptions]="{standalone: true}"placeholder="Enter new password" value=""></div>  
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Re enter New Password</label><input type="text" class="form-control" placeholder="Re enter new password" value=""></div>
                </div>
                
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" (click)="CustomerUpdatePass()">Update Password</button></div>
            </div>
        </div>
    </div>
</div>
<h1></h1>
<app-footer></app-footer>
