
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Retailer</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a routerLink="/retailer"> Dashboard</a>
                </li>
                <li>
                    <a routerLink="/retailer-profile">View Profile</a>
                </li>
                <li>
                    <a routerLink="/addProduct">Add Products</a>
                </li>
                <li>
                    <a routerLink="/addProduct">Revenue Generated</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                
                <li>
                    <a href="" class="article">Logout</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                
                </div>
            </nav>
            

            <div style="margin-left:30% ;">
                <h1 style="font-size: 70px;">Welcome !!!</h1>
            </div>
            <div style="margin-left:22% ;">
                <h1 style="font-size: 50px;"><br/>Stop And Sell Over Here</h1>
            </div>
            
        </div>
    </div>

