<app-homeheader></app-homeheader>

  <main id="main">

  <section id="hero" class="d-flex align-items-center">
  <!-- BEGIN SLIDER -->
  <div class="page-slider margin-bottom-25">
      <div id="carousel-example-generic" class="carousel slide carousel-slider">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox" style="height: 350px;">
              <!-- First slide -->
              <div class="item carousel-item-four active" >
                 
              </div>
              
              <!-- Second slide -->
              <div class="item carousel-item-five">
                  <div class="container">
                      <div class="carousel-position-four text-center">
                          <h2 class="animate-delay carousel-title-v4" data-animation="animated fadeInDown">
                              Unlimted
                          </h2>
                          <p class="carousel-subtitle-v2" data-animation="animated fadeInDown">
                              Layout Options
                          </p>
                          <p class="carousel-subtitle-v3 margin-bottom-30" data-animation="animated fadeInUp">
                              Fully Responsive
                          </p>
                          <a class="carousel-btn" href="#" data-animation="animated fadeInUp">See More Details</a>
                      </div>
                      <img class="carousel-position-five animate-delay hidden-sm hidden-xs" src="assets/pages/img/shop-slider/slide2/price.png" alt="Price" data-animation="animated zoomIn">
                  </div>
              </div>

              <!-- Third slide -->
              <div class="item carousel-item-six">
                  <div class="container">
                      <div class="carousel-position-four text-center">
                          <span class="carousel-subtitle-v3 margin-bottom-15" data-animation="animated fadeInDown">
                              Full Admin &amp; Frontend
                          </span>
                          <p class="carousel-subtitle-v4" data-animation="animated fadeInDown">
                              eCommerce UI
                          </p>
                          <p class="carousel-subtitle-v3" data-animation="animated fadeInDown">
                              Is Ready For Your Project
                          </p>
                      </div>
                  </div>
              </div>

              <!-- Fourth slide -->
              <div class="item carousel-item-seven">
                 
              </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="prev">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
          <a class="right carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
      </div>
  </div>
  <!-- END SLIDER -->
</section>
<br><br>

<!-- about us -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h1 style="color: rgba(66, 12, 148, 0.824);text-align: center;"><b>ABOUT US</b></h1>
      <p></p>
    </div>
    <br><br>
    <div class="row">
      <div class="col-lg-6" data-aos="zoom-in">
        <img src="assets/pages/img/abt.jpg" style="width: 90%;height: 100%;" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
        <div class="content pt-4 pt-lg-0">
          <!-- <h4><u>Our Aim :</u></h4> -->
          
          <h5 class="font-italic">
            Welcome to StopAndShop, your number one source for all things [product, ie: shoes, bags, dog treats]. We're dedicated to giving you the very best of [product], with a focus on [three characteristics, ie: dependability, customer service and uniqueness.]
            <br>Founded in 1999 by Ramesh Birla, StopAndShop has come a long way from its beginnings in a [starting location, ie: home office, toolshed, Houston, TX.]. When [store founder] first started out, his/her passion for [passion of founder, ie: helping other parents be more eco-friendly, providing the best equipment for his fellow musicians] drove him to [action, ie: do intense research, quit her day job], and gave him the impetus to turn hard work and inspiration into to a booming online store. 
            <br>We now serve customers all over [place, ie: the US, the world, the Austin area], and are thrilled to be a part of the [adjective, ie: quirky, eco-friendly, fair trade] wing of the [industry type, ie: fashion, baked goods, watches] industry.
            <br>
            We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
            
            
          </h5>
        <p class="font-italic">
          - Sincerely,
          Group No. 7
        </p>
        
      
      </div>
      </div>
    </div>

  </div>
 
</section>

<br>

  <section id="category" class="category">

    <div class="container" data-aos="fade-up" ><br>

      <div class="section-title">
        <h1 style="color: rgba(66, 12, 148, 0.824);text-align: center;"><b>PRODUCT CATEGORY<br></b></h1>
        <!-- <p style="text-align: center;">Feel Free TO Contact Us</p><br> -->
      </div>
      
      <br><br><br>
      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="card" style="width:90%;height: 350px; margin-left: 5%;">
            <img class="card-img-top" class="cardimg" src="assets/pages/img/electronics.jpg" alt="Card image cap">
            <div class="card-body"><hr>
              <div class="text-center"><button class="btn btn-primary" type="submit">Electronics </button></div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="card" style="width:90%;height: 350px; margin-left: 5%;">
            <img class="card-img-top" class="cardimg" src="assets/pages/img/cloths.jpg" alt="Card image cap">
            <div class="card-body"><hr>
              <div class="text-center"><button class="btn btn-primary" type="submit">Cloths</button></div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="card" style="width:90%;height: 350px; margin-left: 5%;">
            <img class="card-img-top" class="cardimg" src="assets/pages/img/homeapp.jpg" alt="Card image cap">
            <div class="card-body"><hr>
              <div class="text-center"><button class="btn btn-primary" type="submit">Home Appliances</button></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br>
  </section>

  <br>

  <!-- contact us -->
  <section id="contact" name="class"><br><br>
    <div class="container" data-aos="fade-up"><br>

        <div class="section-title">
          <h1 style="color: rgba(66, 12, 148, 0.824);text-align: center;"><b>CONTACT US<br></b></h1>
          <!-- <p style="text-align: center;">Feel Free TO Contact Us</p><br> -->
        </div>
<br>
        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                </svg></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-inbound-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0z"/>
                </svg></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 246px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <div class="info">
            <form action="" method="post" role="form">
              <div class="row">
              </div>
              <div class="form-group">
                <label for="name">Subject</label><br><br>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div><br><br>
              <div class="form-group">
                <label for="name">Message</label><br><br>
                
                <textarea class="form-control" name="message" rows="16" required></textarea>
              </div>
              <!-- <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> -->
              <div class="text-center"><button class="btn btn-success" type="submit">Send Message</button></div>
            </form>
          </div>
          </div>

        </div>

      </div>
  </section>


  <div class="main">
    <div class="container">
      <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
      <div class="row margin-bottom-40">
        
      </div>
      <!-- END SALE PRODUCT & NEW ARRIVALS -->

      
    </div>
  </div>

  

  <!-- BEGIN STEPS -->
  <div class="steps-block steps-block-red">
    <div class="container">
      <div class="row">
        <div class="col-md-4 steps-block-col">
          <i class="fa fa-truck"></i>
          <div>
            <h3>Free shipping</h3>
            <em>Express delivery withing 3 days</em>
          </div>
          <span>&nbsp;</span>
        </div>
        <div class="col-md-4 steps-block-col">
          <i class="fa fa-gift"></i>
          <div>
            <h3>Daily Gifts</h3>
            <em>3 Gifts daily for lucky customers</em>
          </div>
          <span>&nbsp;</span>
        </div>
        <div class="col-md-4 steps-block-col">
          <i class="fa fa-phone"></i>
          <div>
            <h3>477 505 8877</h3>
            <em>24/7 customer care available</em>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END STEPS -->

<app-footer></app-footer>

</main>