<div class="header">
    <div class="container">
      <a class="site-logo" href="home.html"><img src="assets/pages/img/eShop.png" style="height:40px;" alt="Metronic Shop UI"></a>

      <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
    </div>
</div>
<!-- <button class="btn btn-success" style="margin-left: 80%;" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Retailer</button> -->
<div class="table-wrapper">
    <h1>Retailer Status</h1>
    <table class="fl-table">
        <thead>
        <tr>
            <th>Retailer's ID</th>
            <th>Retailer's Name</th>
            <th>Edit Product</th>
            <th>Notification to verify</th>
            <th>Action</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Content 1</td>
            <td>Content 1</td>
            <td><button class="btn btn-success fa fa-pencil-square-o"></button>
            </td>
            <td>Content 1</td>
            <td>
                <button class="btn btn-success">Approve</button>
                <button class="btn btn-danger">Reject</button>
            </td>
           
            <td><button class="btn btn-danger fa fa-trash" aria-hidden="true"></button>
            </td>
        </tr>
 
        <tbody>
    </table>
    <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="table-wrapper">
    <h1>Product Status</h1>
    <table class="fl-table">
        <thead>
        <tr>
            <th>Retailer Name</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Available stocks</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>Content 1</td>
            <td>
                <button class="btn btn-success">Approve</button>
                    <button class="btn btn-danger">Reject</button>
            </td>
        </tr>
 
        <tbody>
    </table>
</div>

<app-footer></app-footer>
