<!-- BEGIN TOP BAR -->
<div class="pre-header">
    <div class="container">
        <div class="row">
            <!-- BEGIN TOP BAR LEFT PART -->
            <div class="col-md-6 col-sm-6 additional-shop-info">
              <a href="" class="twitter" target="_blank"><i class="fa fa-twitter" style="color: blue;size: 20px;"></i></a>
              <a href="" class="twitter" target="_blank"><i class="fa fa-instagram" style="color: rgb(255, 55, 0);size: 20px;"></i></a>
              <a href="" class="twitter" target="_blank"><i class="fa fa-facebook" style="color: blue;size: 20px;"></i></a>
              <a href="" class="twitter" target="_blank"><i class="fa fa-skype" style="color: rgba(0, 157, 255, 0.763);size: 20px;"></i></a>
            </div>
            <!-- END TOP BAR LEFT PART -->
            <!-- BEGIN TOP BAR MENU -->
            <div class="col-md-6 col-sm-6 additional-nav">
                <ul class="list-unstyled list-inline pull-right">
                    <li><a routerLink="/myaccount">My Account</a></li>
                    <li><a href="shop-wishlist.html">My Wishlist</a></li>
                    <li><a href="shop-checkout.html">Checkout</a></li>
                    <li><a  routerLink='/login' (click)="logOut()">Logout</a></li>
                </ul>
            </div>
            <!-- END TOP BAR MENU -->
        </div>
    </div>        
</div>
<!-- END TOP BAR -->

<!-- BEGIN HEADER -->
    
<div class="header">
    <div class="container">
      <a class="site-logo" href="home.html"><img src="assets/pages/img/eShop.png" style="height:40px;" alt="Metronic Shop UI"></a>

      <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

      <!-- BEGIN CART -->
      
      <div class="top-cart-block">
        
        <i class="fa fa-shopping-cart"></i>
                      
        <div class="top-cart-content-wrapper">
          <div class="top-cart-content">
            <ul class="scroller" style="height: 250px;">
              
              <li>
                <a href="shop-item.html"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37" height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="shop-item.html">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="shop-item.html"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37" height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="shop-item.html">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
            </ul>
            <div class="text-right">
              <button class="btn btn-primary">View Cart</button>
              <a  class="btn btn-default">View Cart</a>
              <a href="shop-checkout.html" class="btn btn-primary">Checkout</a>
            </div>
          </div>
        </div>            
      </div>
      
       <!--END CART -->

      <!-- BEGIN NAVIGATION -->
      <div class="header-navigation" >
        <ul >
          <li><a class="nav-link scrollto" href="#hero" >Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#category">Categories</a></li>
      <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          
        

          <!-- BEGIN TOP SEARCH -->
          <li class="menu-search">
            <span class="sep"></span>
            <i class="fa fa-search search-btn"></i>
            <div class="search-box">
              <form action="#">
                <div class="input-group">
                  <input type="text" placeholder="Search" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                  </span>
                </div>
              </form>
            </div> 
          </li>
          <!-- END TOP SEARCH -->
        </ul>
      </div>
      <!-- END NAVIGATION -->
    </div>
  </div>

  <!-- Header END -->