<div class="flex-rectangle">
    <div class="text-center heading ">Welcome Retailer</div> 
</div>
<br/><br/>
<div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="assets\\product.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Product</h2>
            <p class="card_text">Can add and view your products</p>
            <button class="btn card_btn" (click)="btnClickProduct()" >Product</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="assets\\revenue.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Revenue</h2>
            <p class="card_text">Total revenue generated</p>
            <button class="btn card_btn" (click)="btnClickRevenue()">Revenue</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="assets\\order.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Accept Order</h2>
            <p class="card_text">Can handle the delivery of the product</p>
            <button class="btn card_btn" (click)="btnClickAcceptOrder()">Accept Order</button>
          </div>
        </div>
      </li> 
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="assets\\profile.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Profile</h2>
            <p class="card_text">View and update your profile</p>
            <button class="btn card_btn" (click)="btnClickProfile()">Profile</button>
          </div>
        </div>
      </li>
      
    </ul>
  </div>