<app-homeheader></app-homeheader>

<div class="main">
    <div class="container">
      
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar col-md-3 col-sm-3">
          <ul class="list-group margin-bottom-25 sidebar-menu">
            <li class="list-group-item clearfix"><a class="nav-link scrollto" routerLink="/myaccount"><i class="fa fa-angle-right"></i>View Profile</a></li>
            <li class="list-group-item clearfix"><a class="nav-link scrollto" routerLink="/update-password" ><i class="fa fa-angle-right"></i>Reset Password</a></li>
            <li class="list-group-item clearfix"><a class="nav-link scrollto" routerLink="/alladdress" ><i class="fa fa-angle-right"></i>Address book</a></li>
            <li class="list-group-item clearfix"><a class="nav-link scrollto" routerLink="/wishlist" ><i class="fa fa-angle-right"></i>Wish list</a></li>
            <li class="list-group-item clearfix"><a class="nav-link scrollto" routerLink="/mycart" ><i class="fa fa-angle-right"></i>My Cart</a></li>
            <li class="list-group-item clearfix"><a class="nav-link scrollto" routerLink="/myorders" ><i class="fa fa-angle-right"></i>My Orders</a></li>
            
          </ul>
        </div>
        <!-- END SIDEBAR -->

        <!-- <section id="hero" class="hero">hero</section>
        <section id="rpass" class="rpass">rpass</section>
        <section id="addbook" class="addbook">addbook</section>
        <section id="widhlist" class="widhlist">widhlist</section>
        <section id="cart" class="cart">cart</section>
        <section id="orders" class="orders">orders</section> -->

        <!-- BEGIN CONTENT -->
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5">
                  <input class="input" type="text" style="text-align: center;" disabled placeholder="Full Name:"/>
                </div>
                <div class="col-sm-7 text-secondary">
                  <input class="input" type="text" disabled placeholder="{{customer.customerName}}"/>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <input class="input" type="text" style="text-align: center;" disabled placeholder="Email:"/>
                  <h6 class="mb-0"></h6>
                </div>
                <div class="col-sm-7 text-secondary">
                  <input class="input" type="text" disabled placeholder=" {{customer.emailId}}"/>
                 
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <input class="input" type="text" style="text-align: center;" disabled placeholder="Phone:"/>
                </div>
                <div class="col-sm-7 text-secondary">
                  <input class="input" type="text" disabled placeholder="{{customer.phoneNo}}"/>
                  
                </div>
              </div>
              <hr>
              <!-- <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">ID</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                {{customer.customerId}}
                </div>
              </div> -->
              <hr>
             

          
           
            
          </div>



        </div>
      </div>

        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>

<app-footer></app-footer>