<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Shipping Address</th>
            <th scope="col">Billing Address</th>
            <th scope="col">Mode of payment</th>
            <th scope="col">Approval</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let row of productData">
            <td>{{row.id}}</td>
            <td>{{row.productName}}</td>
            <td>{{row.productPrice}}</td>
            <td>{{row.productDescription}}</td>
            <td>{{row.brand}}</td>
            <td>{{row.warranty}}</td>
            <td>{{row.availableStocks}}</td>
            <td>
                <button  (click)="onEdit(row)" class="btn btn-info" type="button" data-toggle="modal" data-target="#exampleModal">Edit</button>
                <button  (click)="deleteProduct(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
            <td></td>
        </tr> -->
    </tbody>
  </table>